body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #031b2f; /* Dark background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 350px; /* Adjust width as needed */
}

.heading {
    text-align: center;
    color: #c8d7e1; /* Blue heading color */
    margin-bottom: 20px;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
    display:flex;
justify-content:space-evenly;
}
.role_group{
    display:flex;
     justify-content:center;
    align-items:center;
    width:100px;
   
    /* padding:10px;
    height:40px;  */
    /* background-color: red;; */
}

.role_combined{
    display:flex;
justify-content: space-between;

}
label {
    display:flex;
    flex-direction: row;

    
    margin-bottom: 5px;
    color: white; 
    padding:10px;
    /* border:2px solid white; */
    width:120px;
    
    /* White text for labels */
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.submit-button {
    background-color: #3498db; /* Submit button color */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1; /* Allow button to grow */
    margin-right: 10px; /* Space between buttons */
}

.submit-button:hover {
    background-color: #2980b9; /* Darker shade on hover */
}

.reset-button {
    background-color: #ccc; /* Reset button color */
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1; /* Allow button to grow */
}

.reset-button:hover {
    background-color: #aaa; /* Darker shade on hover */
}
